<% contentFor('body') %> 


<div class="jumbotron text-center text-light bg-dark">
    <h1 class="display-3">Tu RFC</h1>
    <p class="lead"><strong>RFC resultante: </strong> <%- calculado %></p>
    <hr>
    <p>
      Un gusto ayudarte <a href="/about">Acerca de mi</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm text-light" href="/" role="button">Regresar a Inicio</a>
    </p>
  </div>
